*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.color{
    /* border: 2px solid; */
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center;.. */
}
h1{
    /* border: 2px solid; */
    font-size: 1.5rem;
    text-align: center;
}
button{
    /* border: 2px solid; */
    border: none;
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    font-size: 1rem;
    font-weight: 550;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.267);
    text-align: center;
}
#code{
    border: 2px solid;
    margin-top: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    width: 10rem;
    text-align: center;
    height: 2rem;
    padding: .2rem;
}

@media(max-width:600px){
    .color h1{
        font-size: 1.2rem;
    }
    .color button {
        width: 8rem;
        height: 1.6rem;
        font-size: .8rem;

    }
     #code{
        height: 1.5rem;
        padding: 0;
        width: rem;
    }
    
}